<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apple.hotel.mapper.DiningTableMapper">
    <resultMap id="BaseResultMap" type="com.apple.hotel.pojo.DiningTable">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="order_Name" jdbcType="VARCHAR" property="orderName"/>
        <result column="order_Tel" jdbcType="VARCHAR" property="orderTel"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id
        , state, order_Name, order_Tel
    </sql>
    <select id="selectByExample" parameterType="com.apple.hotel.pojo.DiningTableExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_diningtable
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_diningtable
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_diningtable
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.apple.hotel.pojo.DiningTableExample">
        delete from t_diningtable
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.apple.hotel.pojo.DiningTable">
        insert into t_diningtable (id, state, order_Name,
                                   order_Tel)
        values (#{id,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, #{orderName,jdbcType=VARCHAR},
                #{orderTel,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.apple.hotel.pojo.DiningTable">
        insert into t_diningtable
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="orderName != null">
                order_Name,
            </if>
            <if test="orderTel != null">
                order_Tel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="orderName != null">
                #{orderName,jdbcType=VARCHAR},
            </if>
            <if test="orderTel != null">
                #{orderTel,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.apple.hotel.pojo.DiningTableExample" resultType="java.lang.Long">
        select count(*) from t_diningtable
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_diningtable
        <set>
            <if test="row.id != null">
                id = #{row.id,jdbcType=INTEGER},
            </if>
            <if test="row.state != null">
                state = #{row.state,jdbcType=VARCHAR},
            </if>
            <if test="row.orderName != null">
                order_Name = #{row.orderName,jdbcType=VARCHAR},
            </if>
            <if test="row.orderTel != null">
                order_Tel = #{row.orderTel,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_diningtable
        set id = #{row.id,jdbcType=INTEGER},
        state = #{row.state,jdbcType=VARCHAR},
        order_Name = #{row.orderName,jdbcType=VARCHAR},
        order_Tel = #{row.orderTel,jdbcType=VARCHAR}
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.apple.hotel.pojo.DiningTable">
        update t_diningtable
        <set>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="orderName != null">
                order_Name = #{orderName,jdbcType=VARCHAR},
            </if>
            <if test="orderTel != null">
                order_Tel = #{orderTel,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.apple.hotel.pojo.DiningTable">
        update t_diningtable
        set state      = #{state,jdbcType=VARCHAR},
            order_Name = #{orderName,jdbcType=VARCHAR},
            order_Tel  = #{orderTel,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>