<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apple.hotel.mapper.DishOrderMapper">
    <resultMap id="BaseResultMap" type="com.apple.hotel.pojo.DishOrder">
        <id column="dish_order_id" jdbcType="INTEGER" property="dishOrderId"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="dish_id" jdbcType="INTEGER" property="dishId"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="special_request" jdbcType="VARCHAR" property="specialRequest"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        dish_order_id
        , order_id, dish_id, quantity, special_request
    </sql>
    <select id="selectByExample" parameterType="com.apple.hotel.pojo.DishOrderExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_dish_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_dish_order
        where dish_order_id = #{dishOrderId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_dish_order
        where dish_order_id = #{dishOrderId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.apple.hotel.pojo.DishOrderExample">
        delete from t_dish_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.apple.hotel.pojo.DishOrder">
        insert into t_dish_order (dish_order_id, order_id, dish_id,
                                  quantity, special_request)
        values (#{dishOrderId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{dishId,jdbcType=INTEGER},
                #{quantity,jdbcType=INTEGER}, #{specialRequest,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.apple.hotel.pojo.DishOrder">
        insert into t_dish_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dishOrderId != null">
                dish_order_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="dishId != null">
                dish_id,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="specialRequest != null">
                special_request,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dishOrderId != null">
                #{dishOrderId,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="dishId != null">
                #{dishId,jdbcType=INTEGER},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="specialRequest != null">
                #{specialRequest,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.apple.hotel.pojo.DishOrderExample" resultType="java.lang.Long">
        select count(*) from t_dish_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_dish_order
        <set>
            <if test="row.dishOrderId != null">
                dish_order_id = #{row.dishOrderId,jdbcType=INTEGER},
            </if>
            <if test="row.orderId != null">
                order_id = #{row.orderId,jdbcType=INTEGER},
            </if>
            <if test="row.dishId != null">
                dish_id = #{row.dishId,jdbcType=INTEGER},
            </if>
            <if test="row.quantity != null">
                quantity = #{row.quantity,jdbcType=INTEGER},
            </if>
            <if test="row.specialRequest != null">
                special_request = #{row.specialRequest,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_dish_order
        set dish_order_id = #{row.dishOrderId,jdbcType=INTEGER},
        order_id = #{row.orderId,jdbcType=INTEGER},
        dish_id = #{row.dishId,jdbcType=INTEGER},
        quantity = #{row.quantity,jdbcType=INTEGER},
        special_request = #{row.specialRequest,jdbcType=VARCHAR}
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.apple.hotel.pojo.DishOrder">
        update t_dish_order
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=INTEGER},
            </if>
            <if test="dishId != null">
                dish_id = #{dishId,jdbcType=INTEGER},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="specialRequest != null">
                special_request = #{specialRequest,jdbcType=VARCHAR},
            </if>
        </set>
        where dish_order_id = #{dishOrderId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.apple.hotel.pojo.DishOrder">
        update t_dish_order
        set order_id        = #{orderId,jdbcType=INTEGER},
            dish_id         = #{dishId,jdbcType=INTEGER},
            quantity        = #{quantity,jdbcType=INTEGER},
            special_request = #{specialRequest,jdbcType=VARCHAR}
        where dish_order_id = #{dishOrderId,jdbcType=INTEGER}
    </update>
</mapper>