<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apple.hotel.mapper.ManagerMapper">


    <insert id="insertEmployee">
        insert into t_manager (id, manager_id, pwd, name, job)
        values (null, #{managerId}, md5(#{pwd}), #{name}, #{job});
    </insert>

    <delete id="deleteEmployee">
        delete
        from t_manager
        where manager_id = #{managerId}
    </delete>

    <update id="updateEmployee">
        update t_manager
        set manager_id = #{managerId},
            pwd        = md5(#{pwd}),
            name       = #{name},
            job        = #{job}
        where manager_id = #{managerId};
    </update>


    <select id="getEmployeeById">
        select manager_id as managerId,
               name,
               job
        from t_manager
        where manager_id = #{managerId};
    </select>

    <select id="getEmployeeByName">
        select manager_id as managerId,
               name,
               job
        from t_manager
        where name = #{name};
    </select>

    <sql id="managerColumnNameSql">
        manager_id
        as managerId,
        name,
        job
    </sql>

    <select id="getAllEmployees">
        select
        <include refid="managerColumnNameSql"/>
        from t_manager;
    </select>
</mapper>